<p>Booking records with No Driver Found:</p>
<?php
$booking = array();
foreach ($get_bookings as $get_booking) {
	$booking['id'] = $get_booking['bookings']['id'];
	echo 'Booking Id: ', $booking['id'],'.';
	$booking['pick_up'] = $get_booking['bookings']['pick_up'];
	echo ' Pick Up: ', $booking['pick_up'],'.';
	$booking['pick_up_time'] = date_create($get_booking['bookings']['at_time']);
	echo ' Pick Up Time: ', date_format($booking['pick_up_time'],'d/m/Y g:i A'),'.';
	?><br/><?php
}
?>
