<body>  
 <div class="container" style="margin-right: auto;margin-left: auto;padding-left: 15px;padding-right:15px;">
  <div class="emailcontainer" style="background: #fff; width: 740px; height: 550px; margin:auto; padding-top: 20px; ">
<div class="maincont" style="background: #ffd800;width: 640px; height: 480px;margin:auto; ">
  	<?php echo $this->fetch('content'); ?>
   
   </div>
 </div>
 </div>
</body>
