

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:"Museo 900", Verdana, serif;
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:"Beau Sans Pro Book", Verdana, sans-serif;
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
	color: #000;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;
	display: inline-block;
}

#intro{
	background:url(../img/header1.png) no-repeat fixed center center;	
	/*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/header.jpg', sizingMethod='scale')";*/
	height: 460px;
	margin: 0 auto;
	padding: 0;
	
}

#second{
	background-image:url(../img/booking.jpg),url(../img/booking-bg.jpg);  
	background-repeat: no-repeat;
	background-position: center center, center center;
	background-attachment: fixed;
	height:  528px;
	margin: 0 auto;	
	padding: 0;
	background-size:1152px 100%,100% 100%;
	
}

#third{
	background: url(../img/download1.png) no-repeat fixed center center;
	height: 560px;
	padding: 10px 0 0 0;
	background-size: auto 100% ;
	
}

#fifth{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 10px 0 0 0;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
