/** Elements **/
#url-rewriting-warning {
	display:none;
}

#hand_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bsu.png);
}
#hand_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bsd.png);
}

#placemark_b {
  width:31px;
  height:31px;
  background-image: url(http://google.com/mapfiles/ms/t/Bmu.png);
}
#placemark_b.selected {
  background-image: url(http://google.com/mapfiles/ms/t/Bmd.png);
}

#line_b {
  width:31px;
  height:31px;
  background-image: url(../img/Blu.png);
}
#line_b.selected {
  background-image: url(../img/Bld.png);
}

#shape_b {
  width:31px;
  height:31px;
  background-image: url(../img/Bpu.png);
}
#shape_b.selected {
  background-image: url(../img/Bpd.png);
}

form#options { float:right; width: 350px; }
form#options input, form#options select { font-size: 100%; width: 32px; padding: 0; border-spacing:0;}
 form#options select { position: relative; top: 1px; height: 21px;}
form#options label {display:inline;}

/** v3 map **/ 
div#main-map{
	width: 800px; 
	height: 550px;
	float:left;
}
div#side{
	width: 191px;
	float: left;
	padding-left: 3px;
}

div#dataPanel{
	width:90%;
	height:50%;
	overflow:auto;
	border:2px solid #DDDDDD;
	display:none;
}
div#side input{
	width:90%;
}

div#side input.navi{
	font-size: 11px;
	height: 27px;
	margin-bottom: 10px;
}

div#header p{
	color:#888;
	font-size:14px;
	padding-left:20px;
}
span.instruction{
	font-weight:bold;
	
}

.message-box { text-align: center; padding: 5px; color:#545454; width:80%;  margin:5px auto; font-size:12px;}
.clean { background-color: #efefef; border-top: 2px solid #dedede; border-bottom: 2px solid #dedede; }
.info  { background-color: #f7fafd; border-top: 2px solid #b5d3ff; border-bottom: 2px solid #b5d3ff; }
.ok    { background-color: #d7f7c4; border-top: 2px solid #82cb2f; border-bottom: 2px solid #82cb2f; }
.alert { background-color: #fef5be; border-top: 2px solid #fdd425; border-bottom: 2px solid #fdd425; }
.error { background-color: #ffcdd1; border-top: 2px solid #e10c0c; border-bottom: 2px solid #e10c0c; }

div.AddNewButton {
	font-size: 14px;
	color: #fff;
	background: rgb(240,183,161); /* Old browsers , #3B8230*/
	background: -moz-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76BF6B), color-stop(100%, #3B8230)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* IE10+ */
	background: linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76BF6B', endColorstr='#3B8230', GradientType=0 ); /* IE6-9 */
	border: 1px solid #3B8230;
	border-radius: 5px;
	padding: 10px;
	/* width: 80px; */
	text-align:center;
	float:right
}
div.AddNewButton a{
	text-decoration: none;
	color:#fff
}
.submit_btn{
	font-size: 14px;
	color: #fff;
	background: rgb(240,183,161); /* Old browsers , #3B8230*/
	background: -moz-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76BF6B), color-stop(100%, #3B8230)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* IE10+ */
	background: linear-gradient(top, #76BF6B 0%, #3B8230 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76BF6B', endColorstr='#3B8230', GradientType=0 ); /* IE6-9 */
	border: 1px solid #3B8230;
	border-radius: 5px;
	padding: 10px;
	width: 80px;
	text-align:center;
	float:left
}

 
  .labels {
     color: #c00;
     background-color: white;
     font-size: 12px;
     font-weight: bold;
     text-align: center;
     width: 'auto';     
     border: 2px solid black;
     white-space: nowrap;
	 padding: 2px 3px;
   }