<div class="staticpages index">
	<div class="AddNewButton"><?php echo $this->Html->link('Add new Page', array('action' => 'add', 'admin' => true, 'prefix' => 'admin'))?></div>
	<h2><?php echo __('CMS'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('title'); ?></th>
			<th><?php echo $this->Paginator->sort('content'); ?></th>
			<th><?php echo $this->Paginator->sort('sort_order'); ?></th>
			<th><?php echo $this->Paginator->sort('menu_title'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($staticpages as $staticpage): ?>
	<tr>
		<td><?php echo h($staticpage['Staticpage']['id']); ?>&nbsp;</td>
		<td><?php echo h($staticpage['Staticpage']['title']); ?>&nbsp;</td>
		<td><?php echo h($staticpage['Staticpage']['content']); ?>&nbsp;</td>
		<td><?php echo h($staticpage['Staticpage']['sort_order']); ?>&nbsp;</td>
		<td><?php echo h($staticpage['Staticpage']['menu_title']); ?>&nbsp;</td>
		<td><?php echo date_format(date_create($staticpage['Staticpage']['created']),'d/m/Y g:i A'); ?>&nbsp;</td>
		<td class="actions">
			<?php // echo $this->Html->link(__('View'), array('action' => 'view', $staticpage['Staticpage']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $staticpage['Staticpage']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $staticpage['Staticpage']['id']), null, __('Are you sure you want to delete # %s?', $staticpage['Staticpage']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<?php echo $this->element('menu'); ?>
